*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  font-family: 'Open Sans', sans-serif;
  padding: 3%;
  background: url("https://hd.unsplash.com/photo-1439165580955-c7b6ea33b005");
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
  position: relative;
}

.wrap {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.container {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 4em;
}

h2, h3 {
  text-decoration: underline;
}

input, button, label {
  margin: 1%;
}

.btn-primary {
  background: #7fa29b;
  border: none;
}

.btn-primary:hover {
  background: #4b6b58;
}

select {
    margin: 60px;
    border: 1px solid #4b6b58;
    background: transparent;
    width: 150px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 3%;
    left: 3%;
    outline: none;
}

label {
  font-size: 1.5em;
}

.meal-form {
  width: 100%;
}

p {
  font-size: 2em;
}

form, .edit-meal-container, .meal-list-container {
  width: 50em;
  margin: 0 auto;
}
